<!-- BEGIN_INCLUDE(janrain:auth-info) -->
    <janrain:auth-info token="myToken" />
<!-- END_INCLUDE(janrain:auth-info) -->

<!-- BEGIN_INCLUDE(janrain:add-or-update-access-token) -->
    <janrain:add-or-update-access-token token="myToken" identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:add-or-update-access-token) -->

<!-- BEGIN_INCLUDE(janrain:analytics-access) -->
    <janrain:analytics-access start="10/10/2010" end="10/11/2010" />
<!-- END_INCLUDE(janrain:analytics-access) -->

<!-- BEGIN_INCLUDE(janrain:get-app-settings) -->
    <janrain:get-app-settings />
<!-- END_INCLUDE(janrain:get-app-settings) -->

<!-- BEGIN_INCLUDE(janrain:get-available-providers) -->
    <janrain:get-available-providers />
<!-- END_INCLUDE(janrain:get-available-providers) -->

<!-- BEGIN_INCLUDE(janrain:get-contacts) -->
    <janrain:get-contacts identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:get-contacts) -->

<!-- BEGIN_INCLUDE(janrain:get-user-data) -->
    <janrain:get-contacts identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:get-user-data) -->

<!-- BEGIN_INCLUDE(janrain:providers) -->
    <janrain:providers />
<!-- END_INCLUDE(janrain:providers) -->

<!-- BEGIN_INCLUDE(janrain:set-app-settings) -->
    <janrain:set-app-settings />
<!-- END_INCLUDE(janrain:set-app-settings) -->

<!-- BEGIN_INCLUDE(janrain:set-auth-providers) -->
    <janrain:set-auth-providers providers="myProviders"/>
<!-- END_INCLUDE(janrain:set-auth-providers) -->

<!-- BEGIN_INCLUDE(janrain:all-mappings) -->
    <janrain:all-mappings />
<!-- END_INCLUDE(janrain:all-mappings) -->

<!-- BEGIN_INCLUDE(janrain:map) -->
    <janrain:map identifier="myIdentifier" primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:map) -->

<!-- BEGIN_INCLUDE(janrain:mappings) -->
    <janrain:mappings primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:mappings) -->

<!-- BEGIN_INCLUDE(janrain:unmap) -->
    <janrain:unmap identifier="myIdentifier" allIdentifiers="true" unlink="false" primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:unmap) -->

<!-- BEGIN_INCLUDE(janrain:broadcast) -->
    <janrain:broadcast />
<!-- END_INCLUDE(janrain:broadcast) -->

<!-- BEGIN_INCLUDE(janrain:direct) -->
    <janrain:direct recipients="myRecipients"/>
<!-- END_INCLUDE(janrain:direct) -->

<!-- BEGIN_INCLUDE(janrain:get-share-count) -->
    <janrain:get-share-count url="myUrl" />
<!-- END_INCLUDE(janrain:get-share-count) -->

<!-- BEGIN_INCLUDE(janrain:get-share-providers) -->
    <janrain:get-share-providers />
<!-- END_INCLUDE(janrain:get-share-providers) -->

<!-- BEGIN_INCLUDE(janrain:set-share-providers) -->
    <janrain:set-share-providers share="myShare" />
<!-- END_INCLUDE(janrain:set-share-providers) -->

<!-- BEGIN_INCLUDE(janrain:add-domain-patterns) -->
    <janrain:add-domain-patterns domains="myDomains" />
<!-- END_INCLUDE(janrain:add-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:get-backplane-properties) -->
    <janrain:get-backplane-properties />
<!-- END_INCLUDE(janrain:get-backplane-properties) -->

<!-- BEGIN_INCLUDE(janrain:get-domain-patterns) -->
    <janrain:get-domain-patterns />
<!-- END_INCLUDE(janrain:get-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:lookup-rp) -->
    <janrain:lookup-rp />
<!-- END_INCLUDE(janrain:lookup-rp) -->

<!-- BEGIN_INCLUDE(janrain:set-backplane-properties) -->
    <janrain:set-backplane-properties server="myServer" bus="myBus" username="myUsername" password="myPassword" />
<!-- END_INCLUDE(janrain:set-backplane-properties) -->

<!-- BEGIN_INCLUDE(janrain:set-domain-patterns) -->
    <janrain:set-domain-patterns domains="myDomains" />
<!-- END_INCLUDE(janrain:set-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:activity) -->
    <janrain:activity identifier="myIdentifier" activity="myActivity" />
<!-- END_INCLUDE(janrain:activity) -->

<!-- BEGIN_INCLUDE(janrain:auth-infos) -->
    <janrain:auth-infos tokens="token1, token2" />
<!-- END_INCLUDE(janrain:auth-infos) -->

<!-- BEGIN_INCLUDE(janrain:set-status) -->
    <janrain:set-status identifier="myIdentifier" status="myStatus" />
<!-- END_INCLUDE(janrain:set-status) -->

<!-- BEGIN_INCLUDE(janrain:add-bp-bus) -->
    <janrain:add-bp-bus partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:add-bp-bus) -->

<!-- BEGIN_INCLUDE(janrain:apps) -->
    <janrain:apps partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:apps) -->

<!-- BEGIN_INCLUDE(janrain:add-admin) -->
    <janrain:add-admin partnerKey="myPartnerKey" email="myEmail" verify="true"/>
<!-- END_INCLUDE(janrain:add-admin) -->

<!-- BEGIN_INCLUDE(janrain:delete-admin) -->
    <janrain:delete-admin partnerKey="myPartnerKey" email="myEmail"/>
<!-- END_INCLUDE(janrain:delete-admin) -->

<!-- BEGIN_INCLUDE(janrain:get-admins) -->
    <janrain:get-admins partnerKey="myPartnerKey"/>
<!-- END_INCLUDE(janrain:get-admins) -->

<!-- BEGIN_INCLUDE(janrain:add-domain) -->
    <janrain:add-domain partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" domain="myDomain" />
<!-- END_INCLUDE(janrain:add-domain) -->

<!-- BEGIN_INCLUDE(janrain:create-app) -->
    <janrain:create-app partnerKey="myPartnerKey" email="myEmail" displayName="myDisplayName" domain="myDomain" />
<!-- END_INCLUDE(janrain:create-app) -->

<!-- BEGIN_INCLUDE(janrain:create-invite) -->
    <janrain:create-invite engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" email="myEmail" />
<!-- END_INCLUDE(janrain:create-invite) -->

<!-- BEGIN_INCLUDE(janrain:delete-app) -->
    <janrain:delete-app engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:delete-app) -->

<!-- BEGIN_INCLUDE(janrain:get-pending-invites) -->
    <janrain:get-pending-invites engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:get-pending-invites) -->

<!-- BEGIN_INCLUDE(janrain:get-properties) -->
    <janrain:get-properties partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" provider="myProvider" />
<!-- END_INCLUDE(janrain:get-properties) -->

<!-- BEGIN_INCLUDE(janrain:get-provider-permissions) -->
    <janrain:get-provider-permissions partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" provider="myProvider" />
<!-- END_INCLUDE(janrain:get-provider-permissions) -->

<!-- BEGIN_INCLUDE(janrain:reset-api-key) -->
    <janrain:reset-api-key rpAppId="myRpAppId" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:reset-api-key) -->

<!-- BEGIN_INCLUDE(janrain:set-properties) -->
    <janrain:set-properties engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider" consumerKey="myConsumerKey" secret="mySecret" />
<!-- END_INCLUDE(janrain:set-properties) -->

<!-- BEGIN_INCLUDE(janrain:set-provider-permissions) -->
    <janrain:set-provider-permissions engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider" permissions="myPermissions" />
<!-- END_INCLUDE(janrain:set-provider-permissions) -->

<!-- BEGIN_INCLUDE(janrain:verify-domain) -->
    <janrain:verify-domain engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider"/>
<!-- END_INCLUDE(janrain:verify-domain) -->