<!-- BEGIN_INCLUDE(janrain:auth-info) -->
    <janrain:auth-info token="myToken" />
<!-- END_INCLUDE(janrain:auth-info) -->

<!-- BEGIN_INCLUDE(janrain:add-or-update-access-token) -->
    <janrain:add-or-update-access-token token="myToken" identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:add-or-update-access-token) -->

<!-- BEGIN_INCLUDE(janrain:analytics-access) -->
    <janrain:analytics-access start="10/10/2010" end="10/11/2010" />
<!-- END_INCLUDE(janrain:analytics-access) -->

<!-- BEGIN_INCLUDE(janrain:get-app-settings) -->
    <janrain:get-app-settings />
<!-- END_INCLUDE(janrain:get-app-settings) -->

<!-- BEGIN_INCLUDE(janrain:get-available-providers) -->
    <janrain:get-available-providers />
<!-- END_INCLUDE(janrain:get-available-providers) -->

<!-- BEGIN_INCLUDE(janrain:get-contacts) -->
    <janrain:get-contacts identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:get-contacts) -->

<!-- BEGIN_INCLUDE(janrain:get-user-data) -->
    <janrain:get-contacts identifier="myIdentifier" />
<!-- END_INCLUDE(janrain:get-user-data) -->

<!-- BEGIN_INCLUDE(janrain:providers) -->
    <janrain:providers />
<!-- END_INCLUDE(janrain:providers) -->

<!-- BEGIN_INCLUDE(janrain:set-app-settings) -->
    <janrain:set-app-settings />
<!-- END_INCLUDE(janrain:set-app-settings) -->

<!-- BEGIN_INCLUDE(janrain:set-auth-providers) -->
    <janrain:set-auth-providers providers="myProviders"/>
<!-- END_INCLUDE(janrain:set-auth-providers) -->

<!-- BEGIN_INCLUDE(janrain:all-mappings) -->
    <janrain:all-mappings />
<!-- END_INCLUDE(janrain:all-mappings) -->

<!-- BEGIN_INCLUDE(janrain:map) -->
    <janrain:map identifier="myIdentifier" primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:map) -->

<!-- BEGIN_INCLUDE(janrain:mappings) -->
    <janrain:mappings primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:mappings) -->

<!-- BEGIN_INCLUDE(janrain:unmap) -->
    <janrain:unmap identifier="myIdentifier" allIdentifiers="true" unlink="false" primaryKey="myPrimaryKey" />
<!-- END_INCLUDE(janrain:unmap) -->

<!-- BEGIN_INCLUDE(janrain:broadcast) -->
    <janrain:broadcast />
<!-- END_INCLUDE(janrain:broadcast) -->

<!-- BEGIN_INCLUDE(janrain:direct) -->
    <janrain:direct recipients="myRecipients"/>
<!-- END_INCLUDE(janrain:direct) -->

<!-- BEGIN_INCLUDE(janrain:get-share-count) -->
    <janrain:get-share-count url="myUrl" />
<!-- END_INCLUDE(janrain:get-share-count) -->

<!-- BEGIN_INCLUDE(janrain:get-share-providers) -->
    <janrain:get-share-providers />
<!-- END_INCLUDE(janrain:get-share-providers) -->

<!-- BEGIN_INCLUDE(janrain:set-share-providers) -->
    <janrain:set-share-providers share="myShare" />
<!-- END_INCLUDE(janrain:set-share-providers) -->

<!-- BEGIN_INCLUDE(janrain:add-domain-patterns) -->
    <janrain:add-domain-patterns domains="myDomains" />
<!-- END_INCLUDE(janrain:add-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:get-backplane-properties) -->
    <janrain:get-backplane-properties />
<!-- END_INCLUDE(janrain:get-backplane-properties) -->

<!-- BEGIN_INCLUDE(janrain:get-domain-patterns) -->
    <janrain:get-domain-patterns />
<!-- END_INCLUDE(janrain:get-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:lookup-rp) -->
    <janrain:lookup-rp />
<!-- END_INCLUDE(janrain:lookup-rp) -->

<!-- BEGIN_INCLUDE(janrain:set-backplane-properties) -->
    <janrain:set-backplane-properties server="myServer" bus="myBus" username="myUsername" password="myPassword" />
<!-- END_INCLUDE(janrain:set-backplane-properties) -->

<!-- BEGIN_INCLUDE(janrain:set-domain-patterns) -->
    <janrain:set-domain-patterns domains="myDomains" />
<!-- END_INCLUDE(janrain:set-domain-patterns) -->

<!-- BEGIN_INCLUDE(janrain:activity) -->
    <janrain:activity identifier="myIdentifier" activity="myActivity" />
<!-- END_INCLUDE(janrain:activity) -->

<!-- BEGIN_INCLUDE(janrain:auth-infos) -->
    <janrain:auth-infos tokens="token1, token2" />
<!-- END_INCLUDE(janrain:auth-infos) -->

<!-- BEGIN_INCLUDE(janrain:set-status) -->
    <janrain:set-status identifier="myIdentifier" status="myStatus" />
<!-- END_INCLUDE(janrain:set-status) -->

<!-- BEGIN_INCLUDE(janrain:add-bp-bus) -->
    <janrain:add-bp-bus partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:add-bp-bus) -->

<!-- BEGIN_INCLUDE(janrain:apps) -->
    <janrain:apps partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:apps) -->

<!-- BEGIN_INCLUDE(janrain:add-admin) -->
    <janrain:add-admin partnerKey="myPartnerKey" email="myEmail" verify="true"/>
<!-- END_INCLUDE(janrain:add-admin) -->

<!-- BEGIN_INCLUDE(janrain:delete-admin) -->
    <janrain:delete-admin partnerKey="myPartnerKey" email="myEmail"/>
<!-- END_INCLUDE(janrain:delete-admin) -->

<!-- BEGIN_INCLUDE(janrain:get-admins) -->
    <janrain:get-admins partnerKey="myPartnerKey"/>
<!-- END_INCLUDE(janrain:get-admins) -->

<!-- BEGIN_INCLUDE(janrain:add-domain) -->
    <janrain:add-domain partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" domain="myDomain" />
<!-- END_INCLUDE(janrain:add-domain) -->

<!-- BEGIN_INCLUDE(janrain:create-app) -->
    <janrain:create-app partnerKey="myPartnerKey" email="myEmail" displayName="myDisplayName" domain="myDomain" />
<!-- END_INCLUDE(janrain:create-app) -->

<!-- BEGIN_INCLUDE(janrain:create-invite) -->
    <janrain:create-invite engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" email="myEmail" />
<!-- END_INCLUDE(janrain:create-invite) -->

<!-- BEGIN_INCLUDE(janrain:delete-app) -->
    <janrain:delete-app engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:delete-app) -->

<!-- BEGIN_INCLUDE(janrain:get-pending-invites) -->
    <janrain:get-pending-invites engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:get-pending-invites) -->

<!-- BEGIN_INCLUDE(janrain:get-properties) -->
    <janrain:get-properties partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" provider="myProvider" />
<!-- END_INCLUDE(janrain:get-properties) -->

<!-- BEGIN_INCLUDE(janrain:get-provider-permissions) -->
    <janrain:get-provider-permissions partnerKey="myPartnerKey" engageApiKey="myEngageApiKey" provider="myProvider" />
<!-- END_INCLUDE(janrain:get-provider-permissions) -->

<!-- BEGIN_INCLUDE(janrain:reset-api-key) -->
    <janrain:reset-api-key rpAppId="myRpAppId" partnerKey="myPartnerKey" />
<!-- END_INCLUDE(janrain:reset-api-key) -->

<!-- BEGIN_INCLUDE(janrain:set-properties) -->
    <janrain:set-properties engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider" consumerKey="myConsumerKey" secret="mySecret" />
<!-- END_INCLUDE(janrain:set-properties) -->

<!-- BEGIN_INCLUDE(janrain:set-provider-permissions) -->
    <janrain:set-provider-permissions engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider" permissions="myPermissions" />
<!-- END_INCLUDE(janrain:set-provider-permissions) -->

<!-- BEGIN_INCLUDE(janrain:verify-domain) -->
    <janrain:verify-domain engageApiKey="myEngageApiKey" partnerKey="myPartnerKey" provider="myProvider"/>
<!-- END_INCLUDE(janrain:verify-domain) -->

<!-- BEGIN_INCLUDE(janrain:add-client) -->
    <janrain:add-client client_id="myClient_id" client_secret="myClient_secret" description="myDescription"/>
<!-- END_INCLUDE(janrain:add-client) -->

<!-- BEGIN_INCLUDE(janrain:clear-whitelist) -->
    <janrain:clear-whitelist client_id="myClient_id" client_secret="myClient_secret" for_client_id="myFor_client_id"/>
<!-- END_INCLUDE(janrain:clear-whitelist) -->

<!-- BEGIN_INCLUDE(janrain:delete-client) -->
    <janrain:delete-client client_id="myClient_id" client_secret="myClient_secret" client_id_for_deletion="myClient_id_for_deletion"/>
<!-- END_INCLUDE(janrain:delete-client) -->

<!-- BEGIN_INCLUDE(janrain:list-clients) -->
    <janrain:list-clients client_id="myClient_id" client_secret="myClient_secret" has_features="myHas_features"/>
<!-- END_INCLUDE(janrain:list-clients) -->

<!-- BEGIN_INCLUDE(janrain:set-description) -->
    <janrain:set-description client_id="myClient_id" client_secret="myClient_secret" description="myDescription"/>
<!-- END_INCLUDE(janrain:set-description) -->

<!-- BEGIN_INCLUDE(janrain:set-features) -->
    <janrain:set-features client_id="myClient_id" client_secret="myClient_secret" features="myFeatures"/>
<!-- END_INCLUDE(janrain:set-features) -->

<!-- BEGIN_INCLUDE(janrain:set-whitelist) -->
    <janrain:set-whitelist client_id="myClient_id" client_secret="myClient_secret" whitelist="myWhitelist"/>
<!-- END_INCLUDE(janrain:set-whitelist) -->

<!-- BEGIN_INCLUDE(janrain:retrieve-entity) -->
    <janrain:retrieve-entity type_name="myType_name"/>
<!-- END_INCLUDE(janrain:retrieve-entity) -->

<!-- BEGIN_INCLUDE(janrain:entity-adopt) -->
    <janrain:entity-adopt type_name="myType_name" attribute_name="myAttribute_name" child_id="myChild_id" id="my_Id"/>
<!-- END_INCLUDE(janrain:entity-adopt) -->

<!-- BEGIN_INCLUDE(janrain:entity-bulk-create) -->
    <janrain:entity-bulk-create client_id="client_id" client_secret="client_secret" type_name="type_name" all_attributes="all_attributes"/>
<!-- END_INCLUDE(janrain:entity-bulk-create) -->

<!-- BEGIN_INCLUDE(janrain:entity-count) -->
    <janrain:entity-count client_id="client_id" client_secret="client_secret" type_name="type_name" filter="filter"/>
<!-- END_INCLUDE(janrain:entity-count) -->

<!-- BEGIN_INCLUDE(janrain:entity-create) -->
    <janrain:entity-create client_id="client_id" client_secret="client_secret" attributes="attributes"/>
<!-- END_INCLUDE(janrain:entity-create) -->

<!-- BEGIN_INCLUDE(janrain:entity-delete) -->
    <janrain:entity-delete access_token="access_token" uuid="uuid" type_name="type_name"/>
<!-- END_INCLUDE(janrain:entity-delete) -->

<!-- BEGIN_INCLUDE(janrain:entity-bulk-delete) -->
    <janrain:entity-bulk-delete client_id="client_id" client_secret="client_secret" type_name="type_name" filter="filter"/>
<!-- END_INCLUDE(janrain:entity-bulk-delete) -->

<!-- BEGIN_INCLUDE(janrain:entity-purge) -->
    <janrain:entity-purge client_id="client_id" client_secret="client_secret" type_name="type_name" commit="true"/>
<!-- END_INCLUDE(janrain:entity-purge) -->

<!-- BEGIN_INCLUDE(janrain:entity-replace) -->
    <janrain:entity-replace access_token="access_token" uuid="uuid" type_name="type_name" value="value"/>
<!-- END_INCLUDE(janrain:entity-replace) -->

<!-- BEGIN_INCLUDE(janrain:entity-update) -->
    <janrain:entity-update access_token="access_token" uuid="uuid" type_name="type_name" value="value" attributes="attributes"/>
<!-- END_INCLUDE(janrain:entity-update) -->

<!-- BEGIN_INCLUDE(janrain:entity-find) -->
    <janrain:entity-find client_secret="client_secret" client_id="client_id" type_name="type_name"/>
<!-- END_INCLUDE(janrain:entity-find) -->

<!-- BEGIN_INCLUDE(janrain:delete-settings) -->
    <janrain:delete-settings client_secret="client_secret" client_id="client_id" key="key" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:delete-settings) -->

<!-- BEGIN_INCLUDE(janrain:delete-default) -->
    <janrain:delete-default client_secret="client_secret" client_id="client_id" key="key"/>
<!-- END_INCLUDE(janrain:delete-default) -->

<!-- BEGIN_INCLUDE(janrain:get-settings) -->
    <janrain:get-settings client_secret="client_secret" client_id="client_id" key="key" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:get-settings) -->

<!-- BEGIN_INCLUDE(janrain:set-settings) -->
    <janrain:set-settings client_secret="client_secret" client_id="client_id" key="key" value="value" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:set-settings) -->

<!-- BEGIN_INCLUDE(janrain:get-multisettings) -->
    <janrain:get-multisettings client_secret="client_secret" client_id="client_id" key="key" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:get-multisettings) -->

<!-- BEGIN_INCLUDE(janrain:get-items) -->
    <janrain:get-items client_secret="client_secret" client_id="client_id" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:get-items) -->

<!-- BEGIN_INCLUDE(janrain:get-keys) -->
    <janrain:get-keys client_secret="client_secret" client_id="client_id" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:get-keys) -->

<!-- BEGIN_INCLUDE(janrain:get-default) -->
    <janrain:get-default client_secret="client_secret" client_id="client_id" key="key"/>
<!-- END_INCLUDE(janrain:get-default) -->

<!-- BEGIN_INCLUDE(janrain:set-default) -->
    <janrain:set-default client_secret="client_secret" client_id="client_id" key="key" value="value"/>
<!-- END_INCLUDE(janrain:set-default) -->

<!-- BEGIN_INCLUDE(janrain:set-multisettings) -->
    <janrain:set-multisettings client_secret="client_secret" client_id="client_id" items="items" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:set-multisettings) -->

<!-- BEGIN_INCLUDE(janrain:entity-versions) -->
    <janrain:entity-versions client_secret="client_secret" client_id="client_id" id="id" timestamp="timestamp" type_name="type_name"/>
<!-- END_INCLUDE(janrain:entity-versions) -->

<!-- BEGIN_INCLUDE(janrain:get-entity-type) -->
    <janrain:get-entity-type client_secret="client_secret" client_id="client_id" timestamp="timestamp" type_name="type_name"/>
<!-- END_INCLUDE(janrain:get-entity-type) -->

<!-- BEGIN_INCLUDE(janrain:get-access-token) -->
    <janrain:get-access-token client_secret="client_secret" client_id="client_id" type_name="type_name"/>
<!-- END_INCLUDE(janrain:get-access-token) -->

<!-- BEGIN_INCLUDE(janrain:get-authorization-code) -->
    <janrain:get-authorization-code client_secret="client_secret" client_id="client_id" redirect_uri="redirect_uri" type_name="type_name"/>
<!-- END_INCLUDE(janrain:get-authorization-code) -->

<!-- BEGIN_INCLUDE(janrain:get-creation-token) -->
    <janrain:get-creation-token client_secret="client_secret" client_id="client_id" lifetime="lifetime" type_name="type_name" for_client_id="for_client_id"/>
<!-- END_INCLUDE(janrain:get-creation-token) -->

<!-- BEGIN_INCLUDE(janrain:get-verification-code) -->
    <janrain:get-verification-code client_secret="client_secret" client_id="client_id" lifetime="lifetime" type_name="type_name" attribute_name="attribute_name"/>
<!-- END_INCLUDE(janrain:get-verification-code) -->

<!-- BEGIN_INCLUDE(janrain:use-verification-code) -->
    <janrain:use-verification-code verification_code="verification_code"/>
<!-- END_INCLUDE(janrain:use-verification-code) -->

<!-- BEGIN_INCLUDE(janrain:webhooks-add) -->
    <janrain:webhooks-add client_id="client_id" client_secret="client_secret" callback="callback" event_type="event_type" entity_type="entity_type"/>
<!-- END_INCLUDE(janrain:webhooks-add) -->

<!-- BEGIN_INCLUDE(janrain:webhooks-delete) -->
    <janrain:webhooks-delete client_id="client_id" client_secret="client_secret" uuid="uuid"/>
<!-- END_INCLUDE(janrain:webhooks-delete) -->

<!-- BEGIN_INCLUDE(janrain:webhooks-find) -->
    <janrain:webhooks-find client_id="client_id" client_secret="client_secret" uuid="uuid"/>
<!-- END_INCLUDE(janrain:webhooks-find) -->

<!-- BEGIN_INCLUDE(janrain:webhooks-list) -->
    <janrain:webhooks-list client_id="client_id" client_secret="client_secret"/>
<!-- END_INCLUDE(janrain:webhooks-list) -->

<!-- BEGIN_INCLUDE(janrain:webhooks-update) -->
    <janrain:webhooks-update client_id="client_id" client_secret="client_secret" uuid="uuid"/>
<!-- END_INCLUDE(janrain:webhooks-update) -->

<!-- BEGIN_INCLUDE(janrain:auth-native) -->
    <janrain:auth-native client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" token="token"/>
<!-- END_INCLUDE(janrain:auth-native) -->

<!-- BEGIN_INCLUDE(janrain:auth-native-traditional) -->
    <janrain:auth-native-traditional client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" email="email" password="password" form="form"/>
<!-- END_INCLUDE(janrain:auth-native-traditional) -->

<!-- BEGIN_INCLUDE(janrain:forgot-password-native) -->
    <janrain:forgot-password-native client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" email="email" form="form"/>
<!-- END_INCLUDE(janrain:forgot-password-native) -->

<!-- BEGIN_INCLUDE(janrain:link-account-native) -->
    <janrain:link-account-native client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" token="token"/>
<!-- END_INCLUDE(janrain:link-account-native) -->

<!-- BEGIN_INCLUDE(janrain:register-native) -->
    <janrain:register-native client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" token="token"/>
<!-- END_INCLUDE(janrain:register-native) -->

<!-- BEGIN_INCLUDE(janrain:verify-email-native) -->
    <janrain:verify-email-native client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" email="email" form="form"/>
<!-- END_INCLUDE(janrain:verify-email-native) -->

<!-- BEGIN_INCLUDE(janrain:get-token) -->
    <janrain:get-token client_id="client_id" client_secret="client_secret" grant_type="grant_type" code="code" redirect_uri="redirect_uri"/>
<!-- END_INCLUDE(janrain:get-token) -->

<!-- BEGIN_INCLUDE(janrain:register-native-traditional) -->
    <janrain:register-native-traditional client_id="client_id" locale="locale" response_type="response_type" redirect_uri="redirect_uri" password="password" password_confirm="password_confirm" email="email"/>
<!-- END_INCLUDE(janrain:register-native-traditional) -->
